.container {
  padding: 10px;

  background-color: #e8e8e8;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.color_green {
  background-color: #91CA94;
}

.color_dark_grey {
  background-color: #d8d8d8;
}
