.container {
  padding: 12px;

  background-color: #e8e8e8;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.header {
  background-color: #91CA94;
  border-radius: 15px 15px 0 0;
}

.color_dark_grey {
  background-color: #d8d8d8;
}
